image:
  - Visual Studio 2022
  - Ubuntu

version: 5.0.1-b{build}

test: off

skip_commits:
  message: /noci .*/

build_script:
  - dotnet run -v:m -p:LatestSupportedNet=net7.0 -f:net7.0 -c:Release --project test/FastExpressionCompiler.TestsRunner/FastExpressionCompiler.TestsRunner.csproj

for:
  - matrix:
      only:
        - image: Visual Studio 2022

    build_script:
      - build.bat net8.0

    artifacts:
      - path: .\.dist\*.nupkg
